{% extends '@!EasyAdmin/crud/detail.html.twig' %}
{% block content_footer_wrapper %}
    <h5>Total employés: <em>{{ totalUsers }}</em></h5>
    <h5>Total heures: <em>{{ totalHours }}</em></h5>
{% endblock %}